* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main
{
    background: url(/static/images/login.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Lora', serif;
    height: 100vh;
}

.logo__name
{
    display: flex;
    align-items: baseline;
}

.name__slogan {
    font-family: "Oxygen";
    font-size: 17px;
}

.main__slogan
{
    font-family: "Oxygen";
    font-size: 17px;
}


.main__registration-box {
    height: 70vh;
    width: 30vw;
    background: white;
    font-family: 'Lora';
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.registration-box__title
{
    font: 400 34px 'Lora';
    margin-bottom: 60px
}


.form__input {
    width: 95%;
    padding: 12px 0px 15px 10px;
    margin: 8px 0px;
    margin-bottom: 50px;
    border: 0px;
    border-bottom: solid #EAEAEA 1px;
    font-size: 16px;
}


.form__submit{
    width: 25%;
    background-color: #DD783F;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.name__title {
    font: 400 34px 'Lora';
    margin-bottom: 10px;
}

.registration-box__form {
    color: #7A7A7A;
    font: 400 12px 'Oxygen';
}

